main div {
    margin: 0 10px 0 10px;
}

main div img {
    object-fit: cover;
}

h1 {
    color: #04AA6D;
    font-family: 'Trebuchet MS', sans-serif;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size: 250%;
}

main div p {
    font-weight: bold;
    border: 1px solid grey;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
}

@media screen and (max-width: 1080px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info p {
        margin: 10px 10px 60px 10px;
        max-width: 100%;
    }

    main div p {
        margin-bottom: 75px;
    }

    h1 {
        margin: 140px 10px 20px 10px;
    }
}

@media screen and (min-width: 1080px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .info p {
        margin: 10px;
        max-width: 100%;
    }

    main div p {
        margin: 0;
    }

    h1 {
        margin: 0 10px 20px 10px;
    }
}