* { 
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

.articulos-imagen img {
    object-fit: fill;
    height: auto;
    min-height: 100%
}

body {
    font-family: sans-serif;
    min-height: 100vh; 
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    text-align: center;
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 0px 0;
    color: #fff;
    bottom: 0;
}

.header-fijo {
    width: 100%;
    text-align: center;
    position: fixed;        
    background: #333;
    color: #fff;
    top: 0;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.logo {
    margin-top: 10px;
    align-self: center;
    width: 100%;
}

.titulo {
    font-weight: bold;
    font-size: large;
}

.boton-lista {
    align-self: flex-start;
	color: inherit;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background: url(../imgs/lista.png) no-repeat;
    background-position: center;
    border: none;
    background-size: 70%;
    width: 30px;
    height: 30px;
    order: 0;
    padding: 0%;
    margin-bottom: 5px;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}

.boton-cerrar {
    align-self: flex-start;
    color: inherit;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background: url(../imgs/down.png) no-repeat;
    background-position: center;
    border: none;
    background-size: 70%;
    width: 30px;
    height: 30px;
    order: 0;
    padding: 0%;
    margin-bottom: 5px;
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0px 10px 0px 10px;
    background-color: #333;
}

#registerDiv {
    margin-top: 10px;
    padding: 0 5px 10px 5px;
}

#loginDiv {
    margin-top: 10px;
    padding: 0 5px 10px 5px;
}

nav li a {
    text-decoration: none;
    font-weight: bold;
    padding: 16px;
    color: white;
}

nav li a:hover {
    background-color: #ddd;
    color: black;
}

#inicio {
    background-color: #04AA6D;
    color: white;
}

ul {
    list-style-type: none;
}

.oculto {
    display: none;
}

.desplegado li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
    border-bottom: 1px solid #CCC;
}

header, nav {
    top: 0;
}

.correcto {
    color:green;
}

.incorrecto {
    color: red;
}

.loginButtonsDesplegados {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin: 150px 20px 40px 20px; /* Calculated */
    justify-items: center;
}

article {
    text-align: center;
    background-color: white;
    color: blueviolet;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out;
}

article:hover {
    box-shadow: 0 16px 10px rgba(0, 0, 0, 0.2);
}

.div-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 16px;
    position: fixed;
    right: 0px;
    top: 39%;
    background-color: rgb(183, 183, 183);
    padding: 5px;
}

.div-posts div {
    padding: 5px;
}

.oculto-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 16px;
    position: fixed;
    right: -500px; /* idk */
    top: 39%;
    background-color: rgb(183, 183, 183);
    padding: 5px;
}

.oculto-posts div {
    padding: 5px;
}

.asideDesplegar {
    color: inherit;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-right: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background: url(../imgs/caret-left-fill.svg);
    background-color: rgb(183, 183, 183);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    padding: 0%;
    position: fixed;
    right: 0px;
    top: 39%;
}

.asideReplegar {
    color: inherit;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-right: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background: url(../imgs/caret-right-fill.svg);
    background-color: rgb(183, 183, 183);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    padding: 0%;
    position: fixed;
    top: 39%;
}

.diva {
    padding: 10px;
    background-color: #04AA6D;
}

.diva a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}

aside div a {
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
}

.msg-form {
    padding: 10px;
}

.reduced-form {
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reduced-form input[type=text], .reduced-form input[type=email] {
    outline: none;
    border: solid 1px #04AA6D;
    border-radius: 8px;
    padding-left: 10px;
}

.reduced-form input[type=reset], .reduced-form input[type=submit] {
	background-color: whitesmoke;
	border: none;
	color: #04AA6D;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
    border: 1px solid #04AA6D;
	border-radius: 5px;
	outline: none;
	transition: all 0.3s linear;
}

.reduced-form input[type=reset]:hover, .reduced-form input[type=submit]:hover {
	color: whitesmoke;
	background-color: #04AA6D;
}