* { 
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    min-height: 100vh; 
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    width: 100%;
    position: fixed;        
    background: #333; /* Fix me */
    padding: 10px 0;
    color: #fff;
    bottom: 0;
}

.header-fijo {
    width: 100%;
    text-align: center;
    position: fixed;        
    background: #333; /* Fix me */
    color: #fff;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.logo {
    margin-top: 10px;
    align-self: center;
}

.titulo {
    font-weight: bold;
    font-size: large;
}

.boton-lista {
    align-self: flex-start;
    left: 10px;
	color: inherit;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background: url(../imgs/lista.png) no-repeat;
    background-position: center;
    border: none;
    background-size: 70%;
    width: 30px;
    height: 30px;
    order: 0;
    padding: 0%;
    margin-bottom: 5px;
}

.boton-cerrar {
    align-self: flex-start;
    color: inherit;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background: url(../imgs/x.png) no-repeat;
    background-position: center;
    border: none;
    background-size: 70%;
    width: 30px;
    height: 30px;
    order: 0;
    padding: 0%;
    margin-bottom: 5px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0px 10px 0px 10px;
    background-color: #333;
}

#registerDiv {
    margin-top: 10px;
    padding: 0 5px 10px 5px;
}

#loginDiv {
    margin-top: 10px;
    padding: 0 5px 10px 5px;
}

nav li a {
    text-decoration: none;
    font-weight: bold;
    padding: 16px;
    color: white;
}

nav li a:hover {
    background-color: #ddd;
    color: black;
}

#inicio {
    background-color: #04AA6D;
    color: white;
}

ul {
    list-style-type: none;
}

.oculto {
    display: none;
}

.desplegado li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
    border-bottom: 1px solid #CCC;
}

header, nav {
    top: 0;
}

.correcto {
    color:green;
}

.incorrecto {
    color: red;
}

.loginButtonsDesplegados {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin: 150px 20px 70px 20px;
    justify-items: center;
}

article {
    text-align: center;
    background-color: white;
    color: blueviolet;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out;
}

article:hover {
    box-shadow: 0 16px 10px rgba(0, 0, 0, 0.2);
}

.div-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 16px;
    position: fixed;
    right: 0px;
    top: 39%;
    background-color: rgb(183, 183, 183);
    padding: 5px;
    transition: all 0.2s linear;
}

.div-posts div {
    padding: 5px;
}

.oculto-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 16px;
    position: fixed;
    right: -240.775px; /* calculated */
    top: 39%;
    background-color: rgb(183, 183, 183);
    padding: 5px;
    transition: all 0.2s linear;
}

.oculto-posts div {
    padding: 5px;
}

.asideDesplegar {
    color: inherit;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-right: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background: url(../imgs/caret-left-fill.svg);
    background-color: rgb(183, 183, 183);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    padding: 0%;
    position: fixed;
    right: 0px;
    top: 39%;
    transition: all 0.2s linear;
}

.asideReplegar {
    color: inherit;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-right: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background: url(../imgs/caret-right-fill.svg);
    background-color: rgb(183, 183, 183);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    padding: 0%;
    position: fixed;
    right: 235px; /* Calculated */
    top: 39%;
    transition: all 0.2s linear;
}

img{
    width: 100%;
}

.diva {
    padding: 10px;
}

.diva a {
    text-decoration: none;
    color: blueviolet;
}

aside div a {
    text-decoration: none;
    color: blueviolet;
}